/* =========================================================
   GLOBAL RESET
   ========================================================= */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F2BFA4;
}


/* =========================================================
   TOP NAVBAR
   ========================================================= */
.navbar {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    background-color: #F5E7DE;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    max-width: 100vw;
    z-index: 1000;
}

/* =========================================================
   LOGO
   ========================================================= */
.nav-logo {
    flex: 0 0 auto;
    padding: 10px 20px;

    font-size: 22px;
    font-weight: bold;
    color: #5F3B2F;

    background-color: #F2BFA4;
    border: 2px solid #F2BFA4;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s;
}

.nav-logo:hover {
    cursor:default;
    background-color: #e9b397;
    transform: translateY(-1px);
}

/* =========================================================
   SEARCH BAR SECTION
   ========================================================= */

.nav-center{
    flex: 1 1 auto;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.search-bar {
    flex: 1 1 auto;
    min-width: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-input-bar {
    width:70%;
    min-width: 0;

    padding: 10px 20px;
    height: 50px;

    border: 1px solid #bbb;
    border-radius: 25px;

    font-size: 20px;
    transition: 0.2s;
}

.search-input-bar:focus {
    outline: none;
    border-color: #8c6d5a;
    box-shadow: 0 0 5px rgba(140, 109, 90, 0.3);
}

.search-submit {
    height: 50px;
    width: 50px;

    background-color: #F2BFA4;
    border: 1px solid #ccc;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: 0.2s;
}

.search-submit:hover {
    background-color: #e9b397;
}

.search-submit:active {
    background-color: white;
}

/* =========================================================
   NAV BAR ACTION BUTTONS (RIGHT SIDE)
   ========================================================= */
.nav-right {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
}

.nav-btn {
    height: 50px;
    padding: 0 20px;

    background-color: #F2BFA4;
    border: 1px solid #ccc;
    border-radius: 25px;

    margin-left: 15px;

    font-size: 16px;
    font-weight: bold;
    color: #5F3B2F;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: 0.25s;

    box-shadow: 0 2px 4px rgba(0,0,0,0.12);
}

.nav-btn:hover {
    background-color: #e9b397;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.18);
}

.nav-btn:active {
    background-color: white;
    color : #e9b397;
    border-radius: 0px;
}

.nav-btn.active {
    background-color: white;
    color: #e9b397;
    border-radius: 0px;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.18);
}

.main-body {
    margin-top: 80px;
    column-count: 6; 
    column-gap: 10px;
}

.image-wrapper {
    break-inside: avoid;
    margin-bottom: 15px;
}

.result-image {
    width: 100%;
    display: block;
    border-radius: 20px;
    /* border: 2px solid black; */
}
