/* =========================================================
   LOGO
   ========================================================= */
#app-logo {
    flex: 0 0 auto;
    padding: 10px 20px;

    font-size: 22px;
    font-weight: bold;
    color: #5F3B2F;

    background-color: #F2BFA4;
    border: 2px solid #F2BFA4;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s;
}

#app-logo:hover {
    background-color: #e9b397;
    transform: translateY(-1px);
}