/* =========================================================
   TOP NAVBAR
   ========================================================= */
.top-div {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    background-color: #F5E7DE;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
    gap: 12px;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    max-width: 100vw;
    z-index: 1000;
}