/* =========================================================
   SEARCH BAR SECTION
   ========================================================= */
.search-bar {
    flex: 1 1 auto;
    min-width: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-input-bar {
    width: 70%;
    min-width: 0;

    padding: 10px 20px;
    height: 50px;

    border: 1px solid #bbb;
    border-radius: 25px;

    font-size: 20px;
    transition: 0.2s;
}

.search-input-bar:focus {
    outline: none;
    border-color: #8c6d5a;
    box-shadow: 0 0 5px rgba(140, 109, 90, 0.3);
}

.search-submit {
    height: 50px;
    width: 50px;

    background-color: #F2BFA4;
    border: 1px solid #ccc;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: 0.2s;
}

.search-submit:hover {
    background-color: #e9b397;
}

.search-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}